@font-face {
  font-family: "Kanit";
  src: url("../src/assets/fonts/Kanit-Regular.ttf") format("truetype");
}

@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-kanit);
  @apply antialiased; /* Optional: makes fonts look smoother */
}

html { scroll-behavior: smooth;}

@theme {
  --font-kanit: "Kanit", sans-serif;
  --color-Primary: #F4B342;
  --color-Darker-Primary-1: #dba13b;
  --color-Darker-Primary-2: #c38f34;
  --color-Secondary: #1A3263;
  --color-Darker-Secondary-1: #172d59;
  --color-Darker-Secondary-2: #14284f;
  --color-White: #E8E2DB;
  --color-Darker-White: #d0cbc5;
  --color-Black: #313647;

  --animate-fadeInUp: fadeInUp 0.5s ease-in-out;
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

::-webkit-scrollbar {
  width: 6px;
}

@media screen and (orientation: landscape) and (max-height: 50rem) and (max-width: 64rem) {
  .hiddenLandscapePhone {
    display: none;
  }
}

@media screen and (min-width: 50rem) {
  ::-webkit-scrollbar {
    width: 12px;
  }
}

::-webkit-scrollbar-track {
  background: var(--color-White);
  z-index: 10;
}

::-webkit-scrollbar-thumb {
  background: var(--color-Secondary);
  z-index: 10;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-Black);
}

.button-74 {
  box-shadow: #ffffff 4px 4px 0 0;
}